<h1>Welcome</h1>

<div class="form-group">
  <label>Select Branch</label>
  <select class="form-control" (change)="branchChanged($event)">
    <option value="cs">CS</option>
    <option value="it">IT</option>
    <option value="ece">EC</option>
  </select>
</div>

<!--  -->

<table class="table" id="myTable" *ngIf="showtable">
  <thead>
    <th>StudentName</th>
    <th>StudentEmail</th>
    <th>StudentDept</th>

    <th>ClassRoom</th>
    <th>HodName</th>
    <th>Delete</th>
  </thead>

  <tbody>
    <tr *ngFor="let data of Data">
      <td>{{ data.name }}</td>
      <td>{{ data.email }}</td>

      <td>{{ Class.dept }}</td>
      <td>{{ Class.room }}</td>
      <td>{{ Class.hod }}</td>

      <td>
        <button class="btn videobutton" (click)="deleteData(data)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<router-outlet></router-outlet>

<!-- 
<td><a class="candEmail" (click)="candProfile(data)">{{data.candidate_email}}</a></td>
<td><button class="btn resumebutton" (click)="showresume(data.resume)">resume</button></td>
      <td><button class="btn videobutton" (click)="showvideo(data.video)">Introductory video</button></td>
<td><input type="text" [(ngModel)]="data.response" class="form-control" /></td>
      <td><input type="button" class="btn btn-success" (click)="selected(data)" value="Selected"></td> -->
